<div>
  <h1 class="font-bold text-xl">はじめまして、<%= @name %>さん！</h1>

  <p>
    他の人から招待コードを受け取っている場合は
  </p>
  <%= form_with url: users_path do |form| %>
    <%= form.hidden_field :name, value: @name %>
    <%= form.hidden_field :email, value: @email %>

    <div>
      <%= form.label '招待してくれた人のGmailアドレス', class: 'mr-2' %>
      <%= form.email_field :inviter_email %>
    </div>

    <div>
      <%= form.label '招待コード', class: 'mr-2' %>
      <%= form.text_field :invitation_code %>
    </div>

    <%= form.submit '送信' %>
  <% end %>

  <hr>

  <p>
    一人で使う、あるいはあなたが他の人を招待して一緒に使うつもりならこちら
  </p>
  <%= form_with url: users_path do |form| %>
    <%= form.hidden_field :name, value: @name %>
    <%= form.hidden_field :email, value: @email %>

    <%= form.submit 'アカウント作成' %>
  <% end %>
</div>
