<div class="flex flex-row items-center justify-between mb-8">
  <%= link_to image_tag('icon_back'), repetitive_tasks_path %>
  <%= button_to image_tag('icon_garbage'), repetitive_task_path(@repetitive_task),
        method: :delete,
        form: { data: { turbo_confirm: "タスクを削除しますか？" } }
  %>
</div>

<%= render(RepetitiveTaskFormComponent.new(repetitive_task: @repetitive_task)) %>

<section class="mt-10">
  <h3 class="mb-3 text-lg font-bold text-primary">やった！ログ</h3>
  <%= turbo_frame_tag 'repetitive_task_logs' do %>
    <ul class="space-y-1">
      <%= render(RepetitiveTaskLogComponent.with_collection(@repetitive_task.logs)) %>
    </ul>
  <% end %>
</section>
