<!DOCTYPE html>
<html>
  <head>
    <title>Itsukaji</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%# TODO: flashを表示 %>
    <%# TODO: 期限が来たらWebプッシュ通知ができると尚良い %>
    <%= render(HeaderComponent.new) %>
    <main class="max-w-md mx-auto pt-8 px-4 pb-24">
      <%= yield %>
    </main>
  </body>
</html>
