<!DOCTYPE html>
<html>
  <head>
    <title>RepetitiveTaskManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="h-screen">
    <header class="flex h-12 p-3 bg-primary items-center justify-between">
      <%= image_tag 'header_logo.png' %>
      <%= link_to "ログアウト", log_out_path, class: 'text-white' %>
    </header>
    <%= yield %>
  </body>
</html>
